* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Nunito', sans-serif;
    background: #FFFFFF;
}

h1 h2 h3 {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.top-header {
    display: flex;
    justify-content: space-between;
    margin-top: 2.4rem;
}

.top-header__text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.7rem;
    color: #716C80;
}

.top-header__telephon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #716C80;
    text-decoration: none;

}

.top-header__telephon:hover {
    text-decoration: underline;
}

.top-header__telephon::before {
    content: url("../icons/envelope.png");
    width: 20px;
    height: 16px;
    margin-right: 0.8rem;
    vertical-align: middle;
    line-height: 20px;
}

.separator_pd {
    padding-top: 2.3rem;
}

.separator__line {
    height: 1px;
    background: rgba(225, 228, 237, 0.8);
}

.bottom-header {
    display: flex; 
    justify-content:space-between;
    align-items: center;
    margin-top: 2.6rem;
}

.menu_mr {
    margin-left: 5.5rem;
    margin-right: 34rem;
}

.menu__list {
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    list-style-type: none;
}

.menu__item {
    margin-right: 3rem;
}

.menu__item:hover>a {
    text-shadow: 0px 0px 1px #554D89;   
}

.menu__item:last-child {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 1,6rem;
    line-height: 2,1rem;
    color: #5B5766;
    margin-right: 0;
}

.menu__link{
    text-decoration: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #5B5766;
}

.menu-active {
    color: #554D89;
    font-weight: 700;
}

.sub-menu {
    width: 23.5rem;
    height: 20.5rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px #E1E4ED;
    border-radius: 10px;
}       

.sub-menu_hide {
    display: none;
    padding: 3rem 10rem 3rem 3rem;
    
}

.menu_dropdown:hover .sub-menu {
    position: absolute;
    left: 28rem;
    top: 2.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    text-decoration: none;
    z-index: 100;
}

.sub-menu__item {
    list-style-type: none; 
}

.sub-menu__item a:hover {   
    text-shadow: 0px 0px 1px #554D89;   
}

.button_light {
    border: 0.1rem #6852ED solid;
    border-radius: 4rem;
    height: 4rem;
}

.button__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    text-decoration: none;
    padding: 0.8rem 1.5rem 1rem 1.5rem;
    color: #6852ED;
}

.standart-text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #716C80;
}

.standart-text__mr {
    margin: 0 0.8rem 0 0.8rem;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.space-between {
    justify-content: space-between;
    align-items: center;
}

.space-between-top {
    justify-content: space-between;
    align-items: flex-start;
}

.start {
    justify-content: start;
    align-items: center;
}

.start-c {
    justify-content: center;
    align-items: start;
}

.row-reversed {
    flex-direction: row-reverse;
}

.hero__con {
    padding-bottom: 12rem;
}

.hero__h1-text {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 5rem;
    line-height: 6rem;
    color: #554D89;   
}

.hero__text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 3.3rem;
    color: #5B5766;
    margin-top: 3.2rem;
}

.split-section__h2-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    color: #554D89;
    width: 41rem;   
}

.split-section__text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #716C80;
    margin-top: 3.2rem;
}

.split-section__img {
    padding-top: 12rem;
    width: 680px;
}

.split-section__content{
    padding-right: 12rem;
}

.split-section__content2{
    padding-left: 10rem;
}

.split-section__img2 {
    padding-top: 12.8rem;
    width: 631px;
    
}

.split-section_widht {
    width: 51rem;
}

.button-group {
    margin-top: 4rem;
}

.button_dark {
    background: linear-gradient(26.57deg, #6852ED 16.67%, #BA43FC 100%);
    border-radius: 4rem;
    height: 4rem;
    margin: 0 3rem 0 0;
}

.button_dark .button__link {
    color: #FFFFFF;
    margin: 0 1.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.button-group__order {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #554D89;
    text-decoration: none;
}

.button-group__order::after {
    content: url('../icons/long-arrow-right.png');
    width: 2rem;
    height: 1.8rem;
    margin-left: 1.5rem;
}

.hiro-content {
    position: relative;
}

.hiro-content__img {
    padding-top: 10.5rem;
    width: 774px;
}

.down-arrow{
    position: absolute;
    width: 11rem;
    height: 11rem;
    background: #6852ED;
    border-radius: 50%;
    top: 72.5rem;
    left: 13.5rem;
}

.down-arrow__link {  
    content: url('../icons/long-arrow-down.png');    
}

.cards__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 3rem 3rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 1rem #E1E4ED;
    border-radius: 1rem;
    margin-top: 14rem;
    height: 229px;
    width: 360px;
}

.cards__card:hover {
    background: linear-gradient(26.57deg, #6852ED 16.67%, #BA43FC 100%);
    box-shadow: 0px 0px 20px rgba(104, 82, 237, 0.8);
    border-radius: 10px;

}

.cards__card:hover .cards_hide-img {
    display: none;
}

.cards__card:hover .cards__h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
}

.cards__card:hover .cards__text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.cards__card:hover .cards__h2 {
    margin-top: 0;
}

.cards__text-hover {
    display: none;
}

.cards__card:hover .cards__text-hover {
    display: block;
    content: "Read more";
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 1.9rem;
    text-decoration: none;
}

.cards__card:hover .cards__text-hover::after {
    content: url('../icons/long-arrow-right\ \(1\).png');
    margin-left: 1.5rem;
}

.cards__h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #554D89;
    margin-top: 3rem;
}

.cards__text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #716C80;
    margin-top: 1.9rem;
}

.video__bg {
    margin-top: 12.5rem;
    min-height: 48rem;
    background: url('../img/bg-video.png') center center no-repeat ;
}

.video__play-button {  
    border-radius: 50% 50%;
    width: 8rem;
    height: 8rem;
    background: linear-gradient(26.57deg, #6852ED 16.67%, #BA43FC 100%);
    text-decoration: none;
    margin-top: 14rem;
    display: flex;
    align-items:center;
    justify-content: center;
}

.video_link{
    content: url('../icons/play.png')
}

.video__h2 {
    margin-top: 2.4rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 4.2rem;
    text-align: center;
    color: #554D89;
}

.video__text {
    margin-top: 1.9rem;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #5B5766;
    width: 41rem;
}

.service__card-mr {
    margin-bottom: 3rem;
    margin-right: 3rem;
    margin-top: 0;
}

.service__card-mr-top1 {
    margin-top: 7.2rem;
}

.service__card-mr-top2 {
    margin-top: 10.2rem;
}

.service__solution {
    padding-left: 3rem
}

.split-section_widht2 {
    width: 40rem;
}

.split-section_widht3 {
    width: 55.4rem;
}

.service__solution h2 {
    margin-top: 11rem;
    margin-right: 5.1rem;
    width: 33rem;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
}

.skill h2 {
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
}

.skillbar__text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #5B5766;    
}

.skillbar__pd {
    padding-bottom: 1rem;
}

.skillbar__frame {
    width: 55.5rem;
    height: 0.6rem;
    background: rgba(225, 228, 237, 0.6);
    border-radius: 2.5px;
    margin-bottom: 3rem;
}

.skillbar__bar {
    background: #6852ED;
    border-radius: 2.5px 0px 0px 2.5px;
}

.skillbar__percent_1 {
    width: 53.3rem;
    height: 0.6rem;
}

.skillbar__percent_2 {
    width: 45rem;
    height: 0.6rem;
}

.skillbar__percent_3 {
    width: 50rem;
    height: 0.6rem;
}

.skillbar__percent_4 {
    width: 46rem;
    height: 0.6rem;
}

.service__solution_skill {
    padding-right: 3.1rem;
    padding-left: 0;
}

.skillbar__first {
    margin-top: 11rem;
}

.action {
    min-height: 17rem;
    background: url('../img/bg-action.png') center center no-repeat
}

.action__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #554D89;    
}

.action_mr {
    margin-top: 14rem;
    margin-bottom: 14rem;
}

.price__card {
    padding: 6rem 6rem 6rem 6rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px #E1E4ED;
    border-radius: 10px;
    height: 616px;
    width: 360px;   
}

.price__header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #554D89;
    margin-bottom: 14;
}

.price__cep {
    background: #BA43FC;
    border-radius: 2px;
    width: 4rem;
    height: 0.2rem;
    margin-bottom: 14;
}

.price__dollar {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #554D89;
    margin-bottom: 1rem;
}

.price__time {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #5B5766;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 6rem;
}

.price__list {
    margin-bottom: 6rem;
}

.price__item {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #716C80;
    margin-bottom: 1rem;
    list-style-type: none;
}

.price_opacity-mode {
    color: #716C80;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.price__item + .price_opacity-mode::before {
    content: url('../icons/times.png');
    margin-right: 1.03rem;
    width: 1.5rem;
    height: 1.8rem;
}

.price__list li::before {
    content: url('../icons/check.png');
    margin-right: 1rem;
    width: 1.8rem;
    height: 1.8rem;
}

.support__icon {
    width: 32px;
    height: 32px;
    text-decoration: none;
}

.support__link {
    margin-right: 3rem;
}

.support__header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #554D89;
    margin-top: 14rem;
    margin-bottom: 2rem;
}

.support__text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #716C80;
    margin-bottom: 2.8rem;
    
}

.foo {
    margin-top: 12rem;
    background: url('../img/bg-footer.jpg') center center no-repeat;
    min-height: 500px;
    padding: 10rem 0 8.8rem 0;
}

.contacts__h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 3rem;
}

.question__text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.queston__tel {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
    text-decoration: none;
}

.queston__tel:hover {
    text-decoration: underline;
}

address {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 3rem;
}
.question__block {
    margin-left: 2rem;
}

.addr{
    margin-bottom: 1rem;
    width: 36rem;
}

.mail {
    text-decoration: none;
    color: #FFFFFF;
}

.mail:hover {
    text-decoration: underline;
}

.links__h2 {
    margin-bottom: 3rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #554D89;
}

.links__link {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #554D89;
    margin-bottom: 1rem;
    text-decoration: none;
}

.links__link:hover {
    text-decoration: underline;
}

.links__section-1:last-child {
    margin-bottom: 0;
}

.links__section {
    margin-bottom: 7rem;
}

.links__section-1 {
    margin-right: 6.7rem;
}

.links__sep {
    width: 9.9rem;
    height: 0.4rem;
    background: #E1DCFF;
    margin-bottom: 1.3rem;
}

.links__copiright {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #716C80;
}
.links__section-2 {
    justify-content: start;
    align-items:flex-start;
    margin-right: 8.8rem;
}

.contacts {
    justify-content: start;
    align-items:flex-start;
}

.subscribe {
    justify-content:start;  
    align-items:flex-start;
}

.subscribe__h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #554D89;
}

.subscribe__send {
    margin-top: 3rem;
    border: 1px solid #6852ED;
    border-radius: 25px;
    height: 5rem;
    width: 30rem;
    margin-bottom: 3rem;
    padding-left: 1rem;
}

.subscribe__text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #716C80;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 263px;
}

.send__field {
    border: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #716C80;
}

.send__field:focus-visible {
    outline:none;
}

.subscribe__submit {
    border: none;
    background: url("../icons/paper-plane.png") center center no-repeat;
    width: 2.2rem;
    height: 2.6rem;
    margin-right: 2rem;
}








