* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Nunito', sans-serif;
    background: #FFFFFF;
}

h1 h2 h3 {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.top-header {
    display: flex;
    justify-content: space-between;
    margin-top: 2.4rem;
}

.top-header__text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.7rem;
    color: #716C80;
}

.top-header__telephon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #716C80;
    text-decoration: none;

}

.top-header__telephon:hover {
    text-decoration: underline;
}

.top-header__telephon::before {
    content: url("../icons/envelope.png");
    width: 20px;
    height: 16px;
    margin-right: 0.8rem;
    vertical-align: middle;
    line-height: 20px;
}

.separator_pd {
    padding-top: 2.3rem;
}

.separator__line {
    height: 1px;
    background: rgba(225, 228, 237, 0.8);
}

.bottom-header {
    display: flex; 
    justify-content:space-between;
    align-items: center;
    margin-top: 2.6rem;
}

.menu_mr {
    margin-left: 5.5rem;
    margin-right: 34rem;
}

.menu__list {
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    list-style-type: none;
}

.menu__item {
    margin-right: 3rem;
}

.menu__item:hover>a {
    text-shadow: 0px 0px 1px #554D89;   
}

.menu__item:last-child {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 1,6rem;
    line-height: 2,1rem;
    color: #5B5766;
    margin-right: 0;
}

.menu__link{
    text-decoration: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #5B5766;
}

.menu-active {
    color: #554D89;
    font-weight: 700;
}

.sub-menu {
    width: 23.5rem;
    height: 20.5rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px #E1E4ED;
    border-radius: 10px;
}       

.sub-menu_hide {
    display: none;
    padding: 3rem 10rem 3rem 3rem;
    
}

.menu_dropdown:hover .sub-menu {
    position: absolute;
    left: 28rem;
    top: 2.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    text-decoration: none;
    z-index: 100;
}

.sub-menu__item {
    list-style-type: none; 
}

.sub-menu__item a:hover {   
    text-shadow: 0px 0px 1px #554D89;   
}

.button_light {
    border: 0.1rem #6852ED solid;
    border-radius: 4rem;
    height: 4rem;
}

.button__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    text-decoration: none;
    padding: 0.8rem 1.5rem 1rem 1.5rem;
    color: #6852ED;
}

.standart-text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #716C80;
}

.standart-text__mr {
    margin: 0 0.8rem 0 0.8rem;
}

.flex-row {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.space-between {
    justify-content: space-between;
    align-items: center;
}

.start {
    justify-content: start;
    align-items: center;
}

.row-reversed {
    flex-direction: row-reverse;
}

.hero__con {
    padding-bottom: 12rem;
}

.hero__h1-text {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 5rem;
    line-height: 6rem;
    color: #554D89;   
}

.hero__text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 3.3rem;
    color: #5B5766;
    margin-top: 3.2rem;
}

.split-section__con {
    padding-bottom: 0;
}

.split-section__h2-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    color: #554D89;
    width: 41rem;   
}

.split-section__text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #716C80;
    margin-top: 3.2rem;
}

.split-section__img {
    padding-top: 12rem;
    width: 680px;
}

.button-group {
    margin-top: 4rem;
}

.button_dark {
    background: linear-gradient(26.57deg, #6852ED 16.67%, #BA43FC 100%);
    border-radius: 4rem;
    height: 4rem;
    margin: 0 3rem 0 0;
}

.button_dark .button__link {
    color: #FFFFFF;
    margin: 0 1.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.button-group__order {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #554D89;
    text-decoration: none;
}

.button-group__order::after {
    content: url('../icons/long-arrow-right.png');
    width: 2rem;
    height: 1.8rem;
    margin-left: 1.5rem;
}

.hiro-content {
    position: relative;
}

.hiro-content__img {
    padding-top: 10.5rem;
    width: 774px;
}

.down-arrow{
    position: absolute;
    width: 11rem;
    height: 11rem;
    background: #6852ED;
    border-radius: 50%;
    top: 72.5rem;
    left: 13.5rem;
}

.down-arrow__link {  
    content: url('../icons/long-arrow-down.png');    
}

.cards__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 3rem 3rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 1rem #E1E4ED;
    border-radius: 1rem;
    margin-top: 14rem;
    height: 229px;
    width: 360px;
}

.cards__card:hover {
    background: linear-gradient(26.57deg, #6852ED 16.67%, #BA43FC 100%);
    box-shadow: 0px 0px 20px rgba(104, 82, 237, 0.8);
    border-radius: 10px;

}

.cards__card:hover .cards_hide-img {
    display: none;
}

.cards__card:hover .cards__h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
}

.cards__card:hover .cards__text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.cards__card:hover .cards__h2 {
    margin-top: 0;
}

.cards__text-hover {
    display: none;
}

.cards__card:hover .cards__text-hover {
    display: block;
    content: "Read more";
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 1.9rem;
    text-decoration: none;
}

.cards__card:hover .cards__text-hover::after {
    content: url('../icons/long-arrow-right\ \(1\).png');
    margin-left: 1.5rem;
}

.cards__h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #554D89;
    margin-top: 3rem;
}

.cards__text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #716C80;
    margin-top: 1.9rem;
}
