* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Nunito', sans-serif;
    background: #FFFFFF;
}

h1 h2 h3 {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.top-header {
    display: flex;
    justify-content: space-between;
    margin-top: 2.4rem;
}

.top-header__text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.7rem;
    color: #716C80;
}

.top-header__telephon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #716C80;
    text-decoration: none;

}

.top-header__telephon:hover {
    text-decoration: underline;
}

.top-header__telephon::before {
    content: url("../icons/envelope.png");
    width: 20px;
    height: 16px;
    margin-right: 0.8rem;
    vertical-align: middle;
    line-height: 20px;
}

.line-header {
    height: 1px;
    background: rgba(225, 228, 237, 0.8);
    margin-top: 2.3rem;
}

.bottom-header {
    display: flex; 
    justify-content:start;
    align-items: center;
    margin-top: 2.6rem;
}


.bottom-header-menu {
    margin-left: 5.5rem;
    margin-right: 34rem;
}

.bottom-header-menu__list {
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    list-style-type: none;
  
}

.bottom-header-menu__link{
    text-decoration: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #5B5766;
}

.bottom-header-menu__list-item {
    margin-right: 3rem;
}

.bottom-header-menu__list-item:last-child {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 1,6rem;
    line-height: 2,1rem;
    color: #5B5766;
    margin-right: 0;
}


.sub-menu {
    display: none;
}



.sub-menu_link:hover .sub-menu {
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 3rem 10rem 3rem 3rem;
    width: 23.5rem;
    height: 20.5rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px #E1E4ED;
    border-radius: 10px;
    display: flex;
    left: 30rem;
    top: 2.2rem;
}

 

.sub-menu__item  {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #5B5766;
    text-decoration: none;
    list-style-type: none;
    
}

.login-registration {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-registration__login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.8rem;
    border: 0.1rem #6852ED solid;
    width: 7.3rem;
    height: 4rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    text-align: center;
    color: #6852ED solid;
    border-radius: 4rem;
    text-decoration: none;
}

.login-registration__text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #716C80;
    margin-right: 0.8rem;
}

.login-registration__registration {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.8rem;
    border: 0.1rem #6852ED solid;
    width: 15rem;
    height: 4rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    text-align: center;
    color: #6852ED solid;
    border-radius: 4rem;
    text-decoration: none;
}